* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #a2b9bc;
}
#timer {
    height: 100%;
    background-color: #6b5b95;
}
.input-fields {
    width:200px;
    height:100px;
    position: fixed;
    background-color: #878f99;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -100px;
}
.input-fields input, .input-fields button {
    width: 100%;
    font: 800 20px Sans-serif;
}
.input-fields input {
    padding-left: 10px;
}
#timer-done {
    animation: blinker 1s linear infinite;
    height:100%;		
    background-color: #b5e7a0;
}
@keyframes blinker {
    50% {
        opacity: .125;
    }
}